@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-LightItalic.ttf) format('truetype');
}
.App {
  -webkit-user-select: none;
  text-align: center;
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}
.App > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}
.stories {
  justify-self: center;
  -webkit-user-select: none;
  max-width:100%;
  overflow-x:hidden;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Poppins;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
